@font-face {
    font-family: Conthrax;
    src: url('../font/Conthrax-BLRLraCV.otf');
}

:root {
    --primary: #1784cdd4;
    --secondary: #060404;
    --tertiary: #1d7382;

    color: var(--secondary);
}

* {
    color: var(--secondary);
    font-family: 'Conthrax', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    background-color: var(--primary);
    margin: 0;
}

/* Generic Classes */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Specific Classes */

#sidebar-nav {
    position: fixed;
    margin-left: 1290px;
    width: 150px;
    height: 100%;
    background-color: var(--tertiary);
    z-index: 10;
}

#sidebar-nav>button {
    margin-left: 120px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    padding: 0;

    background: none;
    border: none;
}

#sidebar-nav>button:hover {
    cursor: pointer;
}

#sidebar-nav div button {
    border: 2px solid black;
    background: none;
    margin: 10px 0 10px 0;
}

#sidebar-nav div button:hover {
    cursor: pointer
}

.page-num {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 5;
}

.page-num p {
    margin: 5px;
}

#navbar .left-nav-container {
    font-size: 12px;

    width: 35%;
}

#navbar .left-nav-container img {
    width: 50px;
}

#navbar .hamburger-button {
    background: none;
    border: 0;
}

#navbar .hamburger-button:hover {
    cursor: pointer;
}


.arrow-button {
    background: none;
    border: none;
}

.arrow-button:hover {
    cursor: pointer;
}

.arrow-button img {
    width: 40px;
    height: 20px;
}

.page {
    margin: 0 50px; 
    padding: 0 20px; 
}

.page .year-range {
    width: 15%;
}

.page .project-title {
    width: 20%;
    font-size: 24px;
}


.page .description h3 {
    width: 20%;
    margin: 0 20px; 
}


.description{
    margin-left: 50px;
}



.visuals {
    margin-left: 500px;
    width: 20%; 
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

 .visuals img{
    height: 150px;
    width: auto;
 }


 #heading{
    margin: auto;
 }


#puppyImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.projectTile {
    background-color: rgba(29, 67, 184, 0.132);
    border-color: rgb(0, 0, 0);
}

#arduinoButton:hover {
    cursor: pointer
}


.code{
    margin: auto;
    width: calc(50% - 40px); /* Adjust width to accommodate padding */
    border: 3px solid rgb(10, 0, 0);
    padding: 10px;
}

.code p{
    margin-left: auto;
}

.code pre code{
    margin-left: auto;
}



/* Generic Classes */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between;
}

/* Specific Classes */

.page .year-range {
    width: 15%;
    margin-right: 20px; 
}

.page .project-title {
    width: 20%;
    font-size: 24px;
    margin-right: 20px;
}

.page .description {
    width: 65%;
}

.description {
    margin-left: 0; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.page .intro {
    width: 65%;
}

.intro {
    margin-left: 0; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.projectTile {
    background-color: rgba(29, 67, 184, 0.132);
    border-color: rgb(0, 0, 0);
    width: 100%; 
}



/* IMPORTANT CLASSES */

.hidden {
    display: none;
}

.sidebar-hidden{
    animation: from-right 500ms ease-in-out;
    animation-direction: reverse
} 


