@font-face{
    font-family: ArchivoBlack;
    src: url('./font/ArchivoBlack-Regular.ttf');
}
* {
    font-family: 'Halogen', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    font-size: 10px;

    --c1: rgba(26, 142, 181, 0.856);   
    --c2: rgba(243, 9, 9, 0.847);
    --c3: rgba(24, 9, 9, 0.847);
}

body{
    background: var(--c1);
}

#navbar {
    background-color: var(--c2);
    width: auto;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px, 10px, 5px, 10px;
}      

.buttons{
    color: red;
}

.button-container a {
    text-decoration: none; 
}

button{
    color: blue !important; 
}

.icon{
    width: 90px;
    height: auto;
    height: auto;
    margin: 0 10px 0 10px;
    border-radius: 10px;
}